.App {
  margin: 0;
  display: border-box;
  justify-content: center;
  text-align: center;
	
}

h1{

  font-size: 40px;
  font-family: sans-serif;
  margin: 50px;
  border: 1px solid grey;
  box-shadow: 5px 10px 10px #a6a6a6;
  background: white;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
    
}

h2{

  font-size: 40px;
  margin: 50px;
  border: 1px solid grey;
  background: white;
 
    
}
